<div class="mb-lg-10">
    <p class="subtitle-sm" data-scroll data-scroll-speed="2" data-scroll-position="top">Hello there!</p>
    <h1 class="display-1 mb-4" data-scroll data-scroll-speed="4" data-scroll-position="top">I am Akash Agrawal</h1>
    <p data-scroll data-scroll-speed="6" data-scroll-position="top" class="lead typed-elem">A
        <span class="fw-bold text-highlight" data-typed='{"backSpeed": 50,"strings": ["Community Builder", "Content Writer", "Event Manager", "People Connector"]}'></span>
        By Passion and Profession <span class="d-block">specializing in Strategy building, Marketing, Operations &
            Partnerships and Collaborations
        </span>
    </p>
</div>
