<!-- Head -->
{{> (config config.partials.head) title=config.defaultPageTitle }}

<body class="{{ config.classes.body }}">

  <!-- Locomotive Scroll Container-->
  <div data-scroll-container>
    <!-- Main Section-->
    <section class="container py-3 {{ config.classes.content }}" data-scroll-section>
      <!-- Page Content Goes Here -->

      <!-- <h1 class="display-3 mb-5" data-scroll data-scroll-speed="6" data-scroll-position="top">My Blogs</h1> -->
      <p>If you would like to read more about my insights in the community industry. Click the button below.</p>
      <br />
      <button>My Blogs</button>
      <button>Newsletter</button>

      <!-- /Page Content -->
    </section>
    <!-- / Main Section-->

    <!-- Footer -->
    {{> (config config.partials.footer)
    configClassList=config.classes.footer
    classList=""
    }}
    <!-- / Footer-->
  </div>
  <!-- /Locomotive Scroll Container-->

  <!-- Theme JS -->
  {{> footer/scripts }}

</body>

</html>