<div class="py-lg-6">
    {{>
    content/subtitle
    title="Accomplishments"
    }}
    <p class="border-bottom pb-5">As a seasoned professional, I have successfully led multiple internal and external
        projects, collaborating closely with stakeholders while working at Community Folks.
        My diverse experience across various industries has equipped me with a versatile \
        skill set and a deep understanding of how to connect effectively with individuals from all walks of life.</p>

    <div class="d-flex flex-column flex-md-row">
        <div class="flex-fill flex-md-fill col-12 col-md-5">
            <img style="width: 100%; height: 100%;" src="{{webRoot}}/assets/images/certificate.png" alt="Certificate">
        </div>
        <div class="flex-fill flex-md-fill col-12 col-md-5">
            <p>During the course, I learned essential topics such as, -</p>
            <ul>
                <li>How do you know if your organization needs a community, if yes why?</li>
                <li>Community content and engagement</li>
                <li>Community operations</li>
                <li>Strategy development</li>
                <li>Bringing synergy between community, product and support</li>
                <li>Deciding community outcome(goal) and KPIs to measure them</li>
                <li>Deriving business value out of community</li>
                <li>Keeping track of and maintaining a healthy community</li>
            </ul>
        </div>
    </div>
</div>