<div class="py-lg-6">
    {{>
    content/subtitle
    title="Accomplishments"
    }}
    <p class="border-bottom pb-5">I am proud to have successfully completed one of the most prestigious certification in the 
        community industry. Led by Noele Flowers, an expert in the field, the cohort-based course provided
         me with valuable insights into building and growing a community strategically.

    </p>

    <div class="d-flex flex-column flex-md-row">
        <div class="flex-fill flex-md-fill col-12 col-md-5">
            <img style="width: 100%; height: 100%;" src="{{webRoot}}/assets/images/certificate.png" alt="Certificate">
        </div>
        <div class="flex-fill flex-md-fill col-12 col-md-5">
            <p> During the course, I learned essential topics such as, -</p>
            <ul>
                <li>Community content and engagement</li>
                <li>Community operations</li>
                <li>Strategy development</li>
                <li>Bringing synergy between community, product and support</li>
                <li>Deciding community outcome(goal) and KPIs to measure them</li>
                <li>Deriving business value out of community</li>
                <li>Keeping track of and maintaining a healthy community</li>
            </ul>
        </div>
    </div>
</div>